body {
	background-color: #043C4F;
	color: #098A7B;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
}

.style_image {
	height: 500px;
	width: 350px;
	border: 10px solid black;
}

img {
	height: 500px;
	width: 350px;
	border: 10px solid black;
	margin-top: 20px;
}

a {
	color: #176788;
	text-decoration: none;
}

a:hover {
	color: #098A7B;
}